* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
textarea {
  width: 400px;
  height: 80px;
  outline: none;
  padding: 10px 0px 0px 10px;
}
.choices {
  display: flex;
  gap: 5px;
}
span {
  display: block;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
}
.highlight {
  background-color: blueviolet;
}
